.mark-selection {
  &--x {
    @include box-select(mark-X, -50px, 130px);

    &:hover {
      position: relative;
      z-index: 2;
      outline: 2px solid $first-mark-color;
    }
  }

  &--o {
    @include box-select(mark-O, 50px, -130px);
    &:hover {
      outline: 2px solid $second-mark-color;
    }
  }
}
