@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");
// COLORS

$primary: #3a3042;
$on-primary: #beb3c7;
$primary-container: #5c4c68;

$first-mark-color: #6dd6da;
$second-mark-color: #edb458;

// TYPOGRAPHY

$primary-font: "Irish Grover", cursive;
